{{template "parts/header"}}
<div class="container-fluid">
    <div class="row">
        {{ .Breadcrumbs }}
        {{ template "staticPages/parts/sidebar" . }}
        <div class="col-8">
            <h2>Повна конфіденційність гарантована</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae molestiae culpa delectus nostrum. Tempora, enim ex. Sit hic voluptates aut voluptate nobis labore nostrum excepturi, maxime temporibus iste possimus atque exercitationem dolor modi ipsa dicta. Voluptates, culpa est vel possimus aspernatur ipsam! Eius inventore repellat harum qui officiis ullam repellendus obcaecati ea magnam debitis laboriosam corporis ducimus voluptate dolores, accusantium est, quos aspernatur ipsa esse provident impedit. Veniam officia quae cupiditate qui consectetur quam velit, quisquam laborum consequatur sunt dicta quaerat tempora voluptatem minus aliquid earum modi suscipit corrupti. Deserunt ut commodi ullam ea repellendus sit consectetur tempore beatae nobis.</p>
            <h2>Лише гугл слідкує за вами, але це жиза(</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt illo nostrum soluta, placeat eos voluptas velit ab repudiandae laborum magni, natus sint suscipit! Totam esse expedita nihil, exercitationem voluptates provident beatae eaque necessitatibus veniam corrupti ea, minima asperiores voluptatibus quos omnis maxime mollitia excepturi illo, cum magni quis temporibus debitis.</p>
        </div>
    </div>
</div>
{{template "parts/footer"}}
