body {
 font-family: 'Roboto',sans-serif;
}

a {
    color: #111;
    text-decoration: none;
}

a:hover {
    color: #999;
    text-decoration: none;
    transition: all .3s;
}

div {
    /* border: 2px solid green; */
}

#logo {
    /* width: 45%; */
    width: 70px;
    height: 70px;
}

img {
    max-width: 100%;
    height: auto;
}

#header a {
    color: #111;
    font-weight: 500;
    text-transform: uppercase;
}

#main_banner img{
    height: 300px;
    width: 100%;
    object-fit: cover;
}

#header .underline:after {
    content: '';
    display: block;
    width: 100%;
    background-color: #111;
    height: 1px;
    transition: all .3s;
    transform: scale(0);
}

#header .underline:hover::after {
    transform: scale(1);
    background-color: #111;
}

.navbar-nav .dropdown-menu a.dropdown-item:active {
    color: #fff;
    background-color: #Abdeab;
    border-color: #fff;
}

/* Product card */

.product-card {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.30);
    border-radius: 3%;
    transition: all 0.3s;
}

.product-card:hover {
    box-shadow: 0 14px 30px -15px rgba(0, 0, 0, 0.75);
    transition: all 0.3s;
}

.product-thumb {
    margin: auto;
    border-radius: 10%;
    width: 80%;
    height: 350px;
}

.product-thumb a {
    /* display: flex; */
    align-items: center;
    justify-content: center;
}

.product-thumb img{
    object-fit: scale-down;
    border-radius: 7%;
    width: 100%;
    height: 100%;
    padding-top: 10px;
}

.product-details {
    padding: 20px;
}

.product-details h4 a {
    font-weight: 500;
    display: block;
    height: 55px;
    overflow: hidden;
    text-decoration: none;
}

.product-details p {
    font-size: 15px;
    margin-bottom: 20px;
    color: #999;
    height: 44px;
    overflow: hidden;
}

.product-price {
    font-size: 18px;
    font-weight: 600;
    color: #ee7e63;
}

.product-price small {
    text-decoration: line-through;
    color: #ccc;
    margin-right: 5px;
}

.info-block {
    width: 60%;
    margin: auto;
}

.info-block h4 {
    text-align: center;
    font-size: 24px;
}

.info-block p {
    text-align: center;
    font-weight: 18px;
}

.footer {
    background-color: #343434;
}

.footer h4 {
    color: #ccc;
    text-transform: uppercase;
    font-size: 16px;
    border-bottom: 1px solid #666;
    padding-bottom: 3px;
}

.footer a, .footer li, .footer p {
    color: #c8c8c8;
}

.footer a:hover {
    color: #fff;
    text-decoration: underline;
}

.product-title {
    text-transform: uppercase;
    text-align: center;
}

/* static page */

.static-sidebar {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
    margin-left: 15px;
    padding: 15px;
    height: 20%;
}

.static-sidebar ul {
    list-style-type: none;
    padding-left: 0;
}

.static-sidebar ul li:not(:first-child) {
    margin-top: 15px;
}

.static-sidebar a.active {
    color: #80bb75;
}

.static-sidebar a:hover {
    color: #80bb75;
}

.static-sidebar a.active:hover {
    color: #639959;
}

/* breadcrumbs */
#home-icon {
    width: 2.5%;
    text-align: center;
}

.static-sidebar {
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}
