<div class="col-lg-4 col-sm-6 mb-3">
    <div class="product-card">
        <div class="product-thumb">
            <a href="#"><img src="img/product/1.png" alt="product-img-1"></a>
        </div>
        <div class="product-details">
            <h4><a href="#">Продукт 1 </a></h4>
            <div class="product-bottom d-flex justify-content-between">
                <div class="product-price">
                    <small>200 ₴</small> 99 ₴
                </div>
                <a class="btn btn-primary" href="#" role="button">Купити</a>
            </div>
        </div>
    </div>
</div>
