<div class="col-2 static-sidebar">
    <ul>
        <li>
            <a href="/delivery" class="{{if eq .Page "delivery" }}active{{end}}">
                Доставка та оплата
            </a>
        </li>
        <li>
            <a href="/about-us" class="{{if eq .Page "aboutUs" }}active{{end}}">
                Про магазин
            </a>
        </li>
        <li>
            <a href="/privacy-policy" class="{{if eq .Page "policy" }}active{{end}}">
                Політика конфіденційності
            </a>
        </li>
    </ul>
</div>
